.part-results{
    .result-info{
        border-bottom: 1px solid #eaeaea;
        padding: 10px 0;
    }
}

.part{
    border-bottom: 1px solid #eaeaea;
    padding: 15px 0;
    .images{
        .main{
            max-width: 100%;
        }
    }
}
