<md-input-container>

	<md-select ng-if="!category" ng-model="category" placeholder="Select a category" ng-change="updateCategory(category)">
		<md-option ng-value="cat" ng-repeat="cat in categories">{{cat}}</md-option>
	</md-select>

	<md-select ng-if="category && !vehicle.year" ng-model="vehicle.year" placeholder="Select a year" ng-change="updateYear(vehicle.year)">
		<md-option ng-value="y" ng-repeat="y in years">{{y}}</md-option>
	</md-select>

	<md-select ng-if="vehicle.year && !vehicle.make" ng-model="vehicle.make" placeholder="Select a make" ng-change="updateMake(vehicle.make)">
		<md-option ng-value="m" ng-repeat="m in makes">{{m}}</md-option>
	</md-select>

	<md-select ng-if="vehicle.make && !vehicle.model" ng-model="vehicle.model" placeholder="Select a model" ng-change="updateModel(vehicle.model)">
		<md-option ng-value="m" ng-repeat="m in models">{{m}}</md-option>
	</md-select>

	<md-select ng-if="vehicle.model && !vehicle.style" ng-model="vehicle.style" placeholder="Select a style" ng-change="updateStyle(vehicle.style)">
		<md-option ng-value="s" ng-repeat="s in styles">{{s}}</md-option>
	</md-select>

	<h3 ng-if="parts">{{parts}}</h3>

</md-input-container>